
body {
  margin-top: 80px;
}
#box1 {
  border: 1px solid red;
  width: 500px;
}
#box2 {
  border: 1px solid blue;
  width: 460px;
}
#box3 {
  border: 1px solid green;
  width: 410px;
}
#box4 {
  border: 1px solid yellow;
  width: 360px;
}
